* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f3f3f3;
  }

  .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .container {
      display: flex;
      width: 720px;
      height: 550px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      background-color: #9FE2BF;
  }
  
  .logo-container {
      display: flex;
      justify-content: center;
      padding: 40px;
  }
  
  .logo-container img {
      width: 30px;
      height: 27px;
  }
  
  .form-container {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .form-container h1 {
      display: flex;
      margin-bottom: 16px;
      justify-content: center;
      align-content: center;
      font-size: 27px;
  }
  
  .form-container label {
      margin-top: 10px;
      font-weight: bold;
      gap: 20px;
  }
  
  .form-container input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 12px;
      font-weight: bolder;
      color: #050000;
  }
  
  .sign-up-btn, .google-btn {
      width: 100%;
      padding: 12px;
      margin-top: 20px;
      border: none;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
  }
  
  .sign-up-btn {
      background-color: #000;
      color: #fff;
  }
  
  .google-btn {
      background-color: black;
      color: #fff;
  }
  
  .google-btn:hover, .sign-up-btn:hover {
      opacity: 0.9;
  }
  
  .form-container p {
      margin-top: 10px;
      text-align: center;
      font-size: 10px;
  }
  
  .form-container a {
      color: #007bff;
      text-decoration: none;
  }
  
  .form-container a:hover {
      text-decoration: underline;
  }

  input[type="checkbox"] {
    width: 20px;
  }

  .requirement {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    }

  p .forgot-password {
      color: black;
      text-decoration: none;
  }
  
  .image-container {
      flex: 1;
      background: url('images/Streets.png') no-repeat center center/cover;
  }

  @media (max-width:600px) {
    .image-container {
        display: none;
    }
}